<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <title>Python Developer Tools Reference</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.10/pico.min.css"
        integrity="sha512-R4D8tIuJws1QxZAVEpeFxtKEw4iab4HuyVzofpiO19VmlBhXW5qdTCmD/+yYQ+nviYUgS2EywDnoNTaj+lpUfA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .tooltip-large::before {
            width: 25vw;
            overflow: visible;
            white-space: normal;
            text-align: left;
        }

        :root {
            --font-size: 16px;
        }

        h2,
        h3,
        h4 {
            --typography-spacing-vertical: 1.0em;
        }

        dl dt,
        dl dd {
            margin-bottom: 1em;
        }

        main.container {
            padding-top: 3rem;
            padding-bottom: 1rem;
        }

        footer.container {
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        article {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .tool-table-container>* td {
            text-align: center;
        }

        .tool-table-container>* td {
            text-align: center;
            border-left: var(--border-width) solid var(--table-border-color);
            border-right: var(--border-width) solid var(--table-border-color);
        }

        .tool-table-container>table>thead>* th {
            border-right: 1px solid var(--table-border-color);
        }

        :not(thead, tfoot)>*>td {
            --font-size: 1em;
        }

        ul.tool-table-cell-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        ul.tool-table-cell-list>li {
            display: inline-block;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }

        .reference-link {
            font-size: 0.875em;
            color: #aaa;
        }

        .reference-link a {
            color: #ccc;
        }

        a.return-top {
            position: sticky;
            bottom: 20px;
            --offset: 100px;
            margin-right: 10px;
            float: right;
        }

        svg.icon {
            height: 1em;
            width: 1em;
        }
    </style>
    {# <style>
        .tool-table {
            width: 95vw;
            left: calc(-45vw + 45%);
            right: 0;
            position: relative;
        }
    </style> #}
</head>

<body>
    <main class="container">
        <nav>
            <ul>
                <li>
                    <h1 style="margin-bottom: 0px;">Python Developer Tools Reference</h1>
                </li>
            </ul>
            <ul>
                <li><span><a href="https://github.com/jayqi/python-tools-reference">{% include "github.svg"
                            %}&nbsp;GitHub</a></span></li>
            </ul>
        </nav>
        <section class="container">

            <blockquote><strong>🚧 This reference is still under construction. Please do not yet widely share.</strong>
            </blockquote>
            <p>This website is reference on how various popular Python tools cover the different functionalities
                involved in Python
                development. </p>
        </section>
        <section class="tool-table-container">
            <table role="grid">
                <thead>
                    <tr>
                        <th></th>
                        {% for func_info in functionalities.values() %}
                        <th scope="col">{{ func_info.name }} <span class="tooltip-large"
                                data-tooltip="{{ func_info.description }}" data-placement="bottom">ⓘ</span></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for tool_info in tools %}
                    <tr>
                        <th scope="row"><a href="#{{ tool_info.name }}">{{ tool_info.name }}</a></th>
                        {% for func_key in functionalities.keys() %}
                        <td>
                            <ul class="tool-table-cell-list">
                                {% for tool_func_info in tool_info.functionalities.get(func_key, []) %}
                                <li><span data-tooltip="{{ tool_func_info.explanation }}" class="tooltip-large"
                                        data-placement="bottom">
                                        {% if tool_func_info.icon == "python" %}
                                        {% include "python.svg" %}
                                        {% elif tool_func_info.icon == "conda" %}
                                        {% include "conda.svg" %}
                                        {% else %}
                                        ☑
                                        {% endif %}
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <article>
                <h2>What's up with {% include "python.svg" %} Python vs. {% include "conda.svg" %} Conda packages and
                    environments?</h2>
                {{ sections["python_vs_conda"].render_text_as_markdown() | safe }}
            </article>
            <article>
                <h2>Functionality definitions</h2>
                <dl>
                    {% for func_key, func_info in functionalities.items() %}
                    <dt><strong>{{ func_info.name }}</strong></dt>
                    <dd>{{ func_info.description }}</dd>
                    {% endfor %}
                </dl>
            </article>
        </section>
        <section>
            <h2>Tools</h2>
            {% for tool_info in tools %}
            <article>
                <h3 id="{{ tool_info.name }}">{{ tool_info.name }}</h3>
                <p>{{ tool_info.description }}</p>
                <p class="reference-link">Website: <a href="{{ tool_info.website }}" target="_blank">{{
                        tool_info.website }}</a>
                </p>
                {% for func_key, tool_func_info_list in tool_info.functionalities.items() %}
                <h4 id="{{ tool_info.name }}-{{ func_key }}">{{functionalities[func_key].name}}</h4>
                {% for tool_func_info in tool_func_info_list %}
                <p>{{ tool_func_info.explanation }}</p>
                <p class="reference-link">Reference: <a href="{{ tool_func_info.reference }}" target="_blank">{{
                        tool_func_info.reference }}</a>
                </p>
                {% endfor %}
                {% endfor %}
            </article>
            {% endfor %}
            <a class="return-top" href="#" role="button">Return to Top &#8593;</a>
        </section>
    </main>
    <footer class="container">
        <small>
            <p>
                <span xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
                    <a property="dct:title" rel="cc:attributionURL" href="{{ meta.site_url }}">"Python Developer Tools
                        Reference"</a> copyright © 2023 by <a rel="cc:attributionURL dct:creator"
                        property="cc:attributionName" href="https://jayqi.com">Jay Qi</a> is licensed under <a
                        href="http://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank"
                        rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-ND 4.0<img
                            style="height:14px!important;margin-left:3px;vertical-align:text-bottom;"
                            src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img
                            style="height:14px!important;margin-left:3px;vertical-align:text-bottom;"
                            src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img
                            style="height:14px!important;margin-left:3px;vertical-align:text-bottom;"
                            src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"><img
                            style="height:14px!important;margin-left:3px;vertical-align:text-bottom;"
                            src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1"></a>.</span>
                GitHub, Python, and Conda icons by <a href="https://icons8.com/icons">Icons8</a>.
            </p>
        </small>
    </footer>
</body>

</html>
